.profile__name {
    padding: 0;
    margin: 0;
    grid-area: profile__name;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media screen and (max-width:768px) {
    .profile__name {
        font-size: 27px;
        line-height: 32.68px;
    }
}