.element__remove-button {
    width: 18px;
    height: 19px;
    position: absolute;
    top: 20px;
    right: 20px;
    background: url(../../../images/trash-icon.svg) no-repeat center;
    border: none;
}