.popup__save-button_disabled {
    background-color: rgb(255, 255, 255);
    color: #000;
    border: 1px solid #000;
    opacity: .2;
}

.popup__save-button_disabled:hover,
.popup__save-button_disabled:active {
    opacity: .2;
}