.footer {
    box-sizing: border-box;
    max-width: 880px;
    margin: 66px 0 60px 0;
}

@media screen and (max-width:1000px) {
    .footer {
        width: 90%;
        margin: 66px auto 60px;
    }
}

@media screen and (max-width:320px) {
    .footer {
        margin: 48px auto 33px;
    }
}