.popup {
    display: flex;
    visibility: hidden;
    transition: .1s linear;
    transition-delay: .3s;
    opacity: 0;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}